body {
  min-height: 100vh;
  background: colors(background);
  color: colors(body_font_color);
  font-family: "Montserrat", sans-serif;
  header > h1 {
    text-align: center;
    padding: 0.5em 0 1em;
  }
}
