// -------- Settings -------

// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

// colors
$colors: (
  body_font_color: #ecf0f1,
  radio_encode_font_color: #ecf0f1,
  radio_decode_font_color: #ecf0f1,
  radio_encode_background: #4874a1,
  radio_decode_background: #6951ed,
  encode_background: #4874a1,
  decode_background: #6951ed,
  background: #8e44ad,
  color_font_radio: #8e44ad,
  textarea_btn_color: #ecf0f1,
  textarea_btn_background_hover: #ecf0f1,
  textarea_btn_text_hover: #8e44ad,
  delete_btn_background: #343a40,
  copy_btn_background: #343a40,
  delete_copy_btn_background_hover: lighten(#343a40, 20%),
  error_background: #343a40,
  error_background_btn: #ecf0f1,
  error_background_btn_text: #343a40,
);

@function colors($color-name) {
  @return map-get($colors, $color-name);
}

// transitions
$transition: (
  radio_btn: 0.5s,
  textarea_btn: 0.5s,
);

@function transition($transition-timing) {
  @return map-get($transition, $transition-timing);
}

// ------ mixin for responsive breakpoints -----

// mobile > 360px
$small_XX: 360px;

@mixin small_XX {
  @media (min-width: #{$small_XX}) {
    @content;
  }
}

// desktop > 480px
$small_X: 480px;

@mixin small_X {
  @media (min-width: #{$small_X}) {
    @content;
  }
}

// desktop > 576px
$medium: 576px;

@mixin medium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

// desktop > 768px
$large: 700px;

@mixin large {
  @media (min-width: #{$large}) {
    @content;
  }
}

// desktop > 960px
$desktop: 992px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
// ---------------------------------------------
