section {
  & h2 {
    text-align: center;
  }
  div.history {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin: 0 0.5em 0.5em;
    transition: height 2s ease-out;
    & div.content {
      width: 100%;
      border: 2px solid white;
      border-radius: 8px;
      padding: 0.5em;
      margin-top: 2em;
      // animation: add 2s ease;
      &.encode {
        background: colors(encode_background);
      }
      &.decode {
        background: colors(decode_background);
      }
      & div.content__message {
        display: block;
        height: auto;
        display: inline-block;
        font-size: 1em;
        overflow-wrap: anywhere;
        transition: all 0.3s ease;
      }
      & div.content__btn {
        display: flex;
        justify-content: flex-end;
        font-size: 1.2em;
        margin-top: 0.2em;
        & div.delete {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border: 2px solid #343a40;
          border-radius: 50%;
          background: colors(delete_btn_background);
          margin-right: 0.3em;
          transition: all 0.3s ease;
          cursor: pointer;
          &:hover {
            background: colors(delete_copy_btn_background_hover);
          }
          & svg {
            // disable svg icons from <i> tag
            pointer-events: none;
          }
        }
        & div.copy {
          @extend div.delete;
          background: colors(copy_btn_background);
        }
      }
    }
  }
}

@keyframes delete {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes add {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes copy_text {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
